<style>
input[type=checkbox]:checked + a.strikethrough{
  text-decoration: line-through;
}
.btn { width: 60%; color: red; font-size: 200%; }
</style>
<script>
function displayImage(url, displayId) {
  image = document.getElementById(displayId);
  if (url=='') {
    image.innerHTML = '';
  } else {

  image.innerHTML = "<img src='" + url + "' />";
  }
}
</script>
<div class="row">
	<div class="col-lg-12">
		<h3>Games for Trade</h3>
		<p>Among <a href="http://boardgamegeek.com/collection/user/ParkinT" target="_blank">our large collection of Board Games</a>, there are some we no longer spend our time playing.</p>
		Although playing Table-Top Games is our <em>primary</em> leisure time activity, we simply suffer from "too many games, too little time".</p><p> In favor of others we like more or consider a more appropriate challenge, this list represents those we have decided (reluctantly) to <em>pass on</em> to another avid gamer.</p>
		<p>If any of these interest you, click the checkbox on all you like then click <span id="trade-link">"Let's Barter"</span>.</p>
		<p>We can negotiate a barter (that, I promise, will be favorable to you!).</p>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<form id="trade" action="/games" method="POST">
				<input type="submit" class="btn btn-default" value="Let's Barter"></input>
			<div class="row">
				<div class="col-sm-6">
				<ul>
				<% @games_list.each_with_index do |game, idx| %>
				<% if idx.even? %>
				  <li><div class="checkbox"><input name="<%= game[:name] %>" type="checkbox" <%= "checked=\"checked\"" unless game[:checked].nil? %> /><a class="strikethrough" target="<%= game[:name].slice(0,6) %>" href="<%= game[:url] %>" title="<%= game[:name] %>" onMouseOver="displayImage('<%= game[:image] %>', 'game-image');" ><%= game[:name] %></a></li>
				<% end #if %>
				<% end %>
				</ul>
			</div>
			<div class="col-sm-6">
				<ul>
				<% @games_list.each_with_index do |game, idx| %>
				<% if idx.odd? %>
				  <li><div class="checkbox"><input name="<%= game[:name] %>" type="checkbox" <%= "checked=\"checked\"" unless game[:checked].nil? %> /><a class="strikethrough" target="<%= game[:name].slice(0,6) %>" href="<%= game[:url] %>" title="<%= game[:name] %>" onMouseOver="displayImage('<%= game[:image] %>', 'game-image');" ><%= game[:name] %></a></li>
				<% end #if %>
				<% end %>
				</ul>
			</div>
			</form>
		</div>
	</div>
	<div class="col-md-2"><span id="game-image"></span></div>
	<div class="col-md-3"></span></div>
</div>
